@import "jquery-ui-1.9.2.custom.css";

@import "miso/stylesheet.css";
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  padding: 0;
  margin: 0;
  font: 13px Arial, Helvetica, Garuda, sans-serif;
  *font-size: small;
  *font: x-small;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
em,
strong,
pre,
code {
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}
table {
  font-size: inherit;
  font: 100%;
}
ul {
  list-style: none;
}
img {
  border: 0;
}
p {
  margin: 1em 0;
}
/* --ELEMENTs MIXINS --------------------------------------------------------------------------------

    .gradient( @color: #F5F5F5, @start: #EEE, @stop: #FFF )
    .bw-gradient( @color: #F5F5F5, @start: 0, @stop: 255 )
    .bordered( @top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE )
    .drop-shadow( @x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1 )
    .rounded( @radius: 2px )
    .border-radius( @topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0 )
    .opacity( @opacity: 0.5 )
    .transition-duration( @duration: 0.2s )
    .rotation( @deg:5deg ){
    .scale( @ratio:1.5 ){
    .transition( @duration:0.2s, @ease:ease-out )
    .inner-shadow( @horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4 )
    .box-shadow( @arguments )
    .columns( @colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid,
      @columnRuleWidth: 1px )
    .translate( @x:0, @y:0 )


-----GRID MIXINS ------------------------------------------------------------------------------------

  Set these variables (defaults below, 12 col 960px grid)
  @column-width: 60;
  @gutter-width: 20;
  @columns: 12;

  If you want a fluid grid
  @total-width: 100%;

  Mixins
  .column(3);
  .row(9)
    .column(3,9);
  .push(2);
  .pull(2);

*/
/* Mixins ---------------------------------------------------------------------------*/
/* Custom buttons -------------------------------------------------------------------*/
* {
  font-family: "misoregular";
  font-size: 14px;
}
h1 {
  font-size: 1.4em;
  font-weight: bold;
}
h2 {
  font-family: "misoregular";
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 5px;
}
#app-wrapper {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
}
#app-wrapper #filters-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  bottom: 0;
}
#app-wrapper #filters-wrapper #filter-selector .add-filter {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 0;
}
#app-wrapper #filters-wrapper #filter-selector .add-filter i.plus {
  font-size: 1.5em;
  font-style: normal;
  margin-right: 5px;
}
#app-wrapper #filters-wrapper #filter-selector .filter-selector-list {
  position: absolute;
  left: -999px;
  width: 100%;
}
#app-wrapper #filters-wrapper #filter-selector:hover .filter-selector-list {
  left: 0;
}
#app-wrapper #filters-wrapper .filter-list .filter {
  border-top: 1px dotted black;
  padding-top: 8px;
  margin-bottom: 30px;
  position: relative;
}
#app-wrapper #filters-wrapper .filter-list .filter .remove {
  position: absolute;
  top: -10px;
  right: 0px;
  display: none;
  color: #cdcdcd;
  font-size: 3em;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
#app-wrapper #filters-wrapper .filter-list .filter ul.select-options {
  overflow: hidden;
}
#app-wrapper #filters-wrapper .filter-list .filter ul.select-options li.select-option {
  display: inline;
  float: left;
  padding: 8px;
  margin-left: 5px;
  background-color: #cdcdcd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-transform: uppercase;
  cursor: pointer;
}
#app-wrapper #filters-wrapper .filter-list .filter ul.select-options li.select-option:hover {
  background-color: #b3b3b3;
}
#app-wrapper #filters-wrapper .filter-list .filter ul.select-options li.select-option.selected {
  background-color: black;
  color: white;
}
#app-wrapper #filters-wrapper .filter-list .filter .range-slider {
  width: 85%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
#app-wrapper #filters-wrapper .filter-list .filter .range-slider .ui-slider-handle {
  outline: none;
}
#app-wrapper #filters-wrapper .filter-list .filter .range-slider .ui-slider-handle .loVal,
#app-wrapper #filters-wrapper .filter-list .filter .range-slider .ui-slider-handle .hiVal {
  position: absolute;
  top: 20px;
  color: black;
  display: none;
}
#app-wrapper #filters-wrapper .filter-list .filter .range-slider .ui-slider-handle:hover .loVal,
#app-wrapper #filters-wrapper .filter-list .filter .range-slider .ui-slider-handle:hover .hiVal {
  display: block;
}
#app-wrapper #filters-wrapper .filter-list .filter:hover .remove {
  display: block;
  position: absolute;
}
#app-wrapper #filters-wrapper .filter-list .filter:hover .remove:hover {
  color: #b3b3b3;
}
